
@{
    ViewData["Title"] = "Delivery";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/css/dostavka.css" rel="stylesheet" />
}

<body>
    <div class="wrapper">
        <main>
            <div class="container">
                <section>
                    <h2>Стандартная доставка</h2>
                    <p>Доставка курьером в течение 3-5 рабочих дней </p>
                    <p class="cost">784 руб</p>
                    <p>При заказе на сумму от 5000 руб <span>бесплатно</span></p>
                </section>
                <section>
                    <h2>Экспресс доставка</h2>
                    <p>Доставка курьером в течение 1-2 рабочих дней </p>
                    <p class="cost">1630 руб</p>
                    <p>При заказе на сумму от 7000 руб <span>бесплатно</span></p>
                </section>
                <section>
                    <h2>Самовывоз</h2>
                    <p>Товар прибудет в пункт выдачи в течение 3-5 рабочих дней</p>
                    <p class="cost">784 руб</p>
                    <p>При заказе на сумму от 5000 руб <span>бесплатно</span></p>
                </section>
                <section>
                    <h2>Экстренный самовывоз</h2>
                    <p>Товар прибудет в пункт выдачи в течение 1-2 рабочих дней</p>
                    <p class="cost">1630 руб</p>
                    <p>При заказе на сумму от 7000 руб <span>бесплатно</span></p>
                </section>
            </div>
        </main>
    </div>
</body>

