
@{
    ViewData["Title"] = "PersonalArea";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<body>
    <span>Уже есть аккаунт?</span>
    <a href=@Url.Action("Vhod")>Войти</a>
    <span>Впервые здесь?</span>
    <a href=@Url.Action("Reg")>Зарегестрироваться</a>
</body>

